# Core requirements
requests>=2.31.0
beautifulsoup4>=4.12.0
PyPDF2>=3.0.0

# Excel support
pandas>=2.0.0
openpyxl>=3.1.0

# Optional: For better HTML parsing
lxml>=4.9.0

playwright
# Run this command after installing Playwright to download the necessary browser binaries:
# python -m playwright install chromium

free-proxy
stem
 